* {
  font-family: Raleway;
}

body {
  font-family: Raleway;
  min-height:100vh;
}

a {
  text-decoration: none;
}

.arrow {
  position:relative;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.next {
  position:absolute;
  left: 265px;
  top: -42px;
  width: 30px;
  margin-right: 30px;
  border-radius: 80px;
  width:25px;
  height:auto;
  text-align:center;
  display:flex;
  justify-content: flex-end
}
.arrow svg:hover {
  color: rgb(199, 199, 199);
}
.prev {
  position:absolute;
  left: 232px;
  top: -42px;
  width: 15px;
  border-radius: 100px;
  text-align:center;
  display:inline-block;
  width:25px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.strike {
  text-decoration: line-through;
}

#recipe-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-color: black;
  border-radius: 2pc;
  float:right;
}

div {
  color:black;
}